<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ComplainMapper">

	<resultMap type="com.bean.Complain" id="selectcomplainmap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="caption" property="caption" />
		<association property="answer" javaType="com.bean.Answer">
			<id column="id1" property="id" />
			<result column="answertime" property="answertime" />

		</association>

		<association property="admin" javaType="com.bean.Admin">
			<id column="id2" property="id" />
			<result column="adminname" property="adminname" />
		</association>

	</resultMap>
	
	<resultMap type="com.bean.Complain" id="selectcomplainByIdmap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="caption" property="caption" />
		<result column="content" property="content" />
		<association property="answer" javaType="com.bean.Answer">
			<id column="id1" property="id" />
			<result column="answertime" property="answertime" />
			<result column="answercontent" property="answercontent" />

		</association>

		<association property="admin" javaType="com.bean.Admin">
			<id column="id2" property="id" />
			<result column="adminname" property="adminname" />
		</association>

	</resultMap>
	
	<resultMap type="com.bean.Complain" id="selectcomplainBySuppliersidmap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="caption" property="caption" />
		<result column="content" property="content" />
		
		<association property="suppliers" javaType="com.bean.Suppliers">
			<id column="id1" property="supplierid" />
			<result column="address" property="address" />
		</association>
		<association property="answer" javaType="com.bean.Answer">
			<id column="id2" property="id" />
			<result column="answertime" property="answertime" />
			<result column="answercontent" property="answercontent" />

		</association>

		

	</resultMap>
	
	<resultMap type="com.bean.Suppliers" id="selectAddressmap">
		<id column="supplierid" property="supplierid" />
		<result column="address" property="address" />
		
		
	</resultMap>
	
	
	
	<select id="selectcomplain" resultMap="selectcomplainmap">

		select a.id id,a.name,a.caption,a.content,b.id id1,b.answertime , c.id id2,c.adminname  from complain a
		left join answer b on a.id=b.complainid
		left join admin c on b.adminid
		= c.id group by a.id order by id desc

	</select>

	<select id="selectcomplainById" resultMap="selectcomplainByIdmap"  >
		select * from complain a left join answer b on a.id=b.complainid
		left join admin c on b.adminid = c.id where a.id=#{id}
	</select>
	<select id="selectcomplainBysupplierid" resultMap="selectcomplainBySuppliersidmap"  >
		select * from complain a left join suppliers b on a.suppliersid=b.supplierid
		left join answer c on a.id = c.complainid where a.suppliersid=#{id}
	</select>
	<!-- 统计供货商地址信息 -->
 <select id="selectAddress"  resultType="map">
 select address, count(supplierid) num from suppliers group by address
 </select>

<!-- 按月统计采购 -->
 <select id="selectgoodsprice"  resultType="map">
 SELECT month(lastdate) mon,count(*) num FROM goodsprice WHERE SUBSTRING(lastdate, 1, 4)='2018' GROUP BY SUBSTRING(lastdate, 6, 2)
 </select>

<!-- 按月统计招标 -->
 <select id="selectdeclare"  resultType="map" parameterType="String">
SELECT month(applydate) mon,count(*) num FROM declareform WHERE SUBSTRING(applydate, 1, 4)=#{year} GROUP BY SUBSTRING(applydate, 6, 2)
 </select>
<!-- 统计每年的招标数 -->
 <select id="selectdeclareyear"  resultType="map">
SELECT count(*) countNum, YEAR(applydate) applydate FROM declareform GROUP BY YEAR(applydate) ORDER BY  YEAR(applydate) DESC;
 </select>


</mapper>






