<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.GoodsDetailMapper">
	<select id="selectdetailbyid" resultType="com.bean.GoodsDetail">
		select * from goodsdetail where goodsid=#{goodsid}
	</select>
	<select id="selectdetailbyspriceid" resultType="com.bean.GoodsDetail">
		select * from goodsdetail where goodspriceid=#{goodspriceid}
	</select>
	
	<insert id="insertgoodsdetail">
	insert into goodsdetail (goodspriceid,goodsid,num,getdate)value(goodspriceid=#{goodspriceid},goodsid=#{goodsid},num=#{num},getdate=#{getdate}) 
	</insert>
	
</mapper>