<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.GoodsPriceMapper">
	<select id="selectgp" resultMap="mapp">
		select g.id
		gid,goodstitle,lastdate,a.id aid,adminname from goodsprice g
		inner join
		admin a on g.userid=a.id
	</select>
	
	<select id="selectbytitle" resultType="com.bean.GoodsPrice">
	select * from goodsprice where goodstitle=#{goodstitle}
	</select>
	
	<select id="selectall2" resultType="com.bean.Admin">
	select * from admin 
	</select>
	
	<select id="selectbyadmin" resultType="com.bean.Admin">
	select * from admin where adminname=#{adminname}
	</select>
	<select id="selectform" resultMap="ma">
		select p.id
		pid,goodstitle,lastdate,form,d.id did,num,getdate, g.id gid,goodsname,a.id
		aid,adminname from
		goodsprice p left join goodsdetail d on
		d.goodspriceid=p.id left join
		goods g on d.goodsid=g.id left join admin
		a on p.userid=a.id where form=1
	</select>
	
	<!-- 改变状态 -->
	<update id="updateform" parameterType="String">
	update goodsprice set form=#{form} where id=#{id}
	</update>
	<select id="selecta" resultMap="ma">
		select p.id
		pid,goodstitle,lastdate,form,d.id did,num,getdate, g.id gid,goodsname,a.id
		aid,adminname from
		goodsprice p left join goodsdetail d on
		d.goodspriceid=p.id left join
		goods g on d.goodsid=g.id left join admin
		a on p.userid=a.id where form=0
	</select>

	<resultMap type="com.bean.GoodsPrice" id="ma">
		<id column="pid" property="id" />
		<result column="goodstitle" property="goodstitle" />
		<result column="lastdate" property="lastdate" />
		<result column="form" property="form"/>
		<association property="admin" javaType="com.bean.Admin">
			<id column="aid" property="id" />
			<result column="adminname" property="adminname" />
		</association>

		<collection property="goodsdetail" column="goodspriceid"
			ofType="com.bean.GoodsDetail">
			<id column="did" property="id" />
			<result column="num" property="num" />
			<result column="getdate" property="getdate" />
			<association property="goods" javaType="com.bean.Goods">
				<id column="gid" property="id" />
				<result column="goodsname" property="goodsname" />
			</association>
		</collection>
	</resultMap>

	<resultMap type="com.bean.GoodsPrice" id="mapp">
		<id column="gid" property="id" />
		<result column="goodstitle" property="goodstitle" />
		<result column="userid" property="userid" />
		<result column="lastdate" property="lastdate" />
		<association property="admin" javaType="com.bean.Admin">
			<id column="aid" property="id" />
			<result column="adminname" property="adminname" />
		</association>
	</resultMap>
	</mapper>