<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ProclamationMapper">




	<resultMap type="com.bean.Proclamation" id="selectAllProclamationJionSuppliersMap"><!--map里面的属性任意定义 -->
		<id property="id" column="id" />
		<result property="number" column="number" />
		<result property="title" column="title" />
		<result property="time" column="time" />
		<result property="comment" column="comment" />
		<result property="filepath" column="filepath" />
        <association property="admin" javaType="com.bean.Admin">
        <id property="id" column="id1" />
        
        </association>
	</resultMap>

	<select id="selectAllProclamationJionSuppliers" resultMap="selectAllProclamationJionSuppliersMap"><!--连表查询 -->
		select a.id id,a.number number,a.title title,a.time time,a.comment
		comment,a.filepath filepath,b.id id1 from proclamation a inner join
		admin b on a.number=b.id
	</select> 
	
</mapper>